:root {
  --gray-dark: #191919;
  --gray: #3D3D3D;
  --white: #FAF8F1;
  --red: #EB5041;
  --yellow: #EBDD41;
  --green: #41EB4C;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Inter, Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--gray-dark);
}

.main-window {
  background-color: var(--white);
  width: 1000px;
  height: 600px;
  border-radius: 20px;
}

.window-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: var(--gray);
  width: 100%;
  height: 50px;
  border-radius: 17px 17px 0px 0px;
}

.red-ball {
  margin-left: 12px;
  background-color: var(--red);
}

.yellow-ball {
  background-color: var(--yellow);
}

.green-ball {
  background-color: var(--green);
}

.balls {
  height: 25px;
  width: 25px;
  border-radius: 12px;
}